body, html {
  height: 100%;
  margin: 0;
}

.container {
  text-align: center;
  display: grid;
  grid-template-rows: 25% 25% 25% 25%;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-areas:
    "header header header header"
    "sidebar nav nav nav"
    "sidebar article article article"
    "footer footer footer footer";
  height: 100%;
  padding: 16px;
  box-sizing: border-box; 
  gap: 12px;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
  border-radius: 15px;
}

.header {
  grid-area: header;
  background-color: #FFDE22;
}

.sidebar {
  grid-area: sidebar;
  background-color: #FF7755;
}

.nav {
  grid-area: nav;
  background-color: #00DDFF;
}

.article {
  grid-area: article;
  background-color: #bccbde;
}

.article p {
  font-size: 18px;
  font-family: Helvetica, Arial, sans-serif;
  color: white;
  text-align: left;
}

.footer {
  grid-area: footer;
  background-color: #393f4d;
}
